.DS_Store
*.icloud

# Creative file
creative/

# Eagle Stuff Until Public
# eagle/
gerber/
lbr/
pdf/
pnp/


*.brd
*.sch
**/*.brd
**/*.sch

# Eagle Libraries
**/*.lbr
**/*.scr

# These are the Eagle Backup files that are created locally
*.b#*
*.s#*
**/*.b#*
**/*.s#*

# release files
!eagle/RetroESP32.serial.brd
!eagle/RetroESP32.serial.sch
!eagle/RetroESP32.shim.brd
!eagle/RetroESP32.shim.sch
!eagle/RetroESP32-X.brd
!eagle/RetroESP32-X.sch